* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 20px;
}

/*Hero*/
h1 {
	font-family: 'Maven Pro';
	color: #363738;
	font-size: 3em;
	font-weight: 800;
	
}

h2 {
	font-family: 'Zilla Slab';
	color: #363738;
	font-size: 2.5em;
	font-weight: 400;
	
}

h3 {
	font-family: 'Maven Pro';
	font-weight: 700;
	font-size: 2em;
	color: #363738;

}

h4 {
	font-family: 'Maven Pro';
	font-size: 1.3em;
	color: #363738;
}

h5 {
	font-family: 'Maven Pro';
	color: #363738;
	font-size: 1em;
}



p {
	font-family: 'Zilla Slab';
	font-size: 0.9em;
	color: #363738;
}

a {
	font-family: 'Maven Pro';
	text-decoration: none;
	color: white; /* blue colors for links too */
  	text-decoration: none; /* no underline */
}


/*-------------------*/

.hero1 {
	background: url(img/hero.png);
    background-size: cover;
    height: 100vh;
    clear: both;
    padding: 2em 5em;
}



.hero2 {
    height: 400px;
    background: url(img/hoarding.png);
    background-size: cover;
    background: cover;
	clear: both;
	padding: 2em 5em;
}


/*Description of the service*/


.description {
	text-align: center;
	padding: 1em 5em;
}


/*Title of tables*/

.title {
	text-align: center;
	margin-top: 1em;
}

/*Example table - First one*/


.example-table {
    float: left;
    padding: 0.5%;
    text-align: center;
    width:32%; 
}


.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}


.example-table img {
  width:100%; 
  
}



/*Service table -  Second one*/


.steps-service-content {
    float: left;
    width: 32%;
    padding: 0.5%;
    text-align: center;
}


/*Footer*/

.footer {
	clear: both;
	background: grey;
    color: white;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 1em;
    font-family: 'Maven Pro';
}


/*Media queries tablet*/

@media only screen and (max-width: 800px){
	body {
		font-size: 15px;
	}

	.example-table, .steps-service-content {
    	float: none;
    	padding: 1%;
    	text-align: center;
    	width:60%;
    	margin: 0 auto;
	}

}


/*Media queries mobile*/

@media only screen and (max-width: 480px){
	body {
		font-size: 12px;
	}

	.example-table, .steps-service-content {
    	float: none;
    	padding: 2%;
    	text-align: center;
    	width:90%; 
    	margin: 0 auto;
	}

	p {
		font-size: 1.2em;
	}



}