* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


/*APPLY TO SITE*/

#example {
    background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;
}

#service {
    background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;
}

.grid-table {
    background-color: #E582A2;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 33%;
    padding: 2%;
    text-align: center;
}

.service-table {
    background-color: #E582A2;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 33%;
    padding: 2%;
    text-align: center;
}

/*.grid-table-text {
    background-color: #E582A2;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 33%;
    margin: 0 auto;
    /*padding: 2%;
    text-align: center;
}*/

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}





