* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*Hero*/
h1 {
	font-family: 'Maven Pro';
	color: #363738;
	font-size: 3.5em;
	font-weight: 800;
	
}

h2 {
	font-family: 'Zilla Slab';
	color: #363738;
	font-size: 35px;
	font-weight: 400;
	
}

h3 {
	font-family: 'Maven Pro';
	font-weight: 700;
	font-size: 30px;
	color: #363738;

}

h4 {
	font-family: 'Maven Pro';
	font-size: 25px;
	color: #363738;
}

h5 {
	font-family: 'Maven Pro';
	color: #363738;
	font-size: 20px;
}



p {
	font-family: 'Zilla Slab';
	font-size: 18px;
	color: #363738;
}

a {
	font-family: 'Maven Pro';
	text-decoration: none;
	color: white; /* blue colors for links too */
  	text-decoration: none; /* no underline */
}


/*-------------------*/

.hero1 {
	background: url(img/hero.png);
    background-size: cover;
    height: 100vh;
    clear: both;
    padding-left: 5em;
    padding-top: 2em;
}



.hero2 {
    height: 400px;
    background: url(img/hoarding.png);
    background-size: cover;
    background: cover;
	clear: both;
	padding-left: 5em;
    padding-top: 2em;
}


/*Description of the service*/


.description {
	text-align: center;
	padding: 0.5%;
}


/*Title of tables*/

.title {
	text-align: center;
	padding: 0.5%;
}

/*Example table - First one*/


.example-table {
    float: left;
    width: 33%;
    padding: 0.5%;
    text-align: center;
}


.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}


/*Service table -  Second one*/


.steps-service-content {
    float: left;
    width: 33%;
    padding: 0.5%;
    text-align: center;
}


/*Footer*/

.footer {
	clear: both;
	background: grey;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
    font-family: 'Maven Pro';
}